.app-header{
  background: #0B5475;
  .logo {
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    h1{
      color: #fff;
      margin-bottom: 0;
    }
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    .title{
      margin: 0 2px;
    }
  }
}
.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0;
}
.ant-avatar{
  .anticon{
    svg{
      font-size: 20px;
    }
  }
}
.ant-menu-dark{
  background:#0B5475 ;
}